Repository pysio2007/Vue-blog, pull requests merged in 2024-12, with the labels that each got.

#208 feat: 添加自动合并
  .github/workflows/auto-merge-dependencies.yml
Labels: 等待处理

#211 feat: 十二月QoL Update
  .github/labeler.yml
  src/.vuepress/client.ts
  src/.vuepress/components/HuoShen80Hub.vue
  src/.vuepress/components/PwaCheck.vue
  src/.vuepress/components/Randompicturecount.vue
  src/.vuepress/config.ts
  src/.vuepress/theme.ts
  src/posts/daily/PWA.md
Labels: 等待处理

#223 更新版本 fix: #222
  .github/workflows/coveralls.yml
  .gitignore
  README.md
  babel.config.cjs
  jest.config.mjs
  package-lock.json
  package.json
  src/.vuepress/components/Wordle.vue
  src/.vuepress/config.ts
  src/.vuepress/theme.ts
  src/README.md
  src/__tests__/utils.test.ts
Labels: BUG, 需要帮助, 高优先级, 等待合并

#227 fix: Docker Build
  Dockerfile
Labels: 等待处理

#229 feat: 12月中旬QoL补丁
  .github/workflows/coveralls.yml
  package-lock.json
  package.json
  src/.vuepress/client.ts
  src/.vuepress/components/CraftingTable.vue
  src/.vuepress/theme.ts
  src/posts/daily/GTNH.md
  src/posts/daily/Gitlab Pollution.md
  src/posts/daily/PWA.md
  src/posts/develop/icon.md
Labels: 文章, 等待处理

#233 feat: Auto Merge Renovate
  .github/workflows/MergeDependabot.yml
Labels: 等待处理

#235 fix: Fix mergeFilterAuthor
  .github/workflows/MergeDependabot.yml
Labels: 等待处理

#237 fix: 修复了手滑给备案号删了这件事
  src/.vuepress/theme.ts
Labels: BUG, 等待合并

#238 feat: 添加我自己
  src/intro.md
Labels: 等待处理

#242 fix：修复了描述不够多的问题😅
  src/other/friends.md
Labels: 等待处理

#243 fix: 部分DNS不可用
  src/posts/develop/Public DNS DOH.md
Labels: 文章, 等待合并

#256 fix: CVE-2023-26136
  .gitlab-ci.yml
  package-lock.json
  package.json
Labels: 等待处理

#259 fix: 修复Gitlab NPM Install 错误
  .gitlab-ci.yml
Labels: 等待处理

#260 fix: No Python
  .gitlab-ci.yml
Labels: 等待处理

#261 feat: 让Gitlab闲着
  .gitlab-ci.yml
Labels: 等待处理

#262 年末了 年终更新！
  package-lock.json
  package.json
  src/.vuepress/client.ts
  src/.vuepress/components/MonacoEditor.vue
  src/.vuepress/components/Pastebin.vue
  src/.vuepress/components/StatusCheak.vue
  src/.vuepress/components/Statusissues.vue
  src/.vuepress/navbar.ts
  src/.vuepress/theme.ts
  src/other/status.md
  src/tools/Pastebin.md
Labels: 增强, 新功能, 低优先级, 等待合并

#263 feat: hello 2025!
  src/posts/daily/bye2024.md
Labels: 文章, 等待合并
