Repository pysio2007/Vue-blog, pull requests merged in 2024-11, with the labels that each got.

#117 feat: 添加IpCheck 功能（咕咕咕）
  src/.vuepress/client.ts
  src/.vuepress/components/ipcheck.vue
  src/.vuepress/navbar.ts
  src/posts/tools/ipcheck.md
Labels: 新功能, 低优先级

#124 继续开发IP检查相关内容
  src/.vuepress/client.ts
  src/.vuepress/components/Connectivity.vue
  src/.vuepress/components/WebRTC.vue
  src/.vuepress/components/ipcheck.vue
  src/posts/develop/icon.md
  src/posts/tools/ipcheck.md
Labels: 增强, 低优先级

#136 feat: 添加随机图片
  package-lock.json
  package.json
  src/.vuepress/components/ipcheck.vue
  src/posts/develop/randomimage.md
Labels: 新功能, 低优先级

#141 feat: 添加随机图片调用计数
  src/.vuepress/client.ts
  src/.vuepress/components/Randompicturecount.vue
  src/posts/develop/randomimage.md
Labels: 新功能, 低优先级

#143 fix: 当后端返回没有成就时 前端任然显示
  src/.vuepress/components/SteamStatus.vue
Labels: BUG, 中优先级

#146 feat: 添加康威生命游戏
  src/.vuepress/client.ts
  src/.vuepress/components/GameofLife.vue
  src/.vuepress/navbar.ts
  src/.vuepress/sidebar/index.ts
  src/Game/GameofLife.md
  src/Game/wordle.md
  src/tools/ipcheck.md
Labels: 增强, 中优先级

#151 update: 升级依赖
  .github/workflows/analyze.yml
  package-lock.json
  package.json
Labels: 依赖更新

#152 feat: 兰顿蚂蚁组件
  src/.vuepress/client.ts
  src/.vuepress/components/Langtonsant.vue
  src/.vuepress/navbar.ts
  src/Game/Langtonsant.md
Labels: 新功能

#158 remove: 暂时移除 6a02c7cc616297aec63c9039531a7e192711770a 因为CDN缓存问题
  src/.vuepress/config.ts
Labels: 等待处理

#159 feat: Add V6/7 Arm
  .github/workflows/bulid-docker.yml
Labels: 等待处理

#163 feat: 添加国内WebRtc服务器
  .idea/vcs.xml
  README.md
  package-lock.json
  src/.vuepress/components/WebRTC.vue
  src/intro.md
Labels: 新功能, 中优先级

#165 综合性修复+添加开往
  .vscode/settings.json
  src/.vuepress/components/WebRTC.vue
  src/.vuepress/config.ts
  src/.vuepress/navbar.ts
  src/posts/develop/icon.md
Labels: 增强, 新功能, 高优先级

#166 fix: 修复全屏无法点击 修复not-allower没有正常添加到disabled属性
  src/.vuepress/components/GameofLife.vue
  src/.vuepress/components/Langtonsant.vue
Labels: BUG, 中优先级

#167 feat: 作者添加英短猫猫
  package-lock.json
  package.json
  src/.vuepress/components/WebRTC.vue
  src/intro.md
Labels: 文章, 等待处理

#169 fix: 修复一堆毫无意义的注释
  src/.vuepress/components/console.vue
  src/.vuepress/config.ts
Labels: 等待处理

#173 fix: 修复图标加载带来的滞后
  src/.vuepress/theme.ts
Labels: BUG

#174 feat: 添加公安备案号
  src/.vuepress/theme.ts
Labels: 增强

#175 feat: 添加DNS泄露检测
  src/.vuepress/client.ts
  src/.vuepress/components/DNSLeak.vue
  src/tools/ipcheck.md
Labels: 增强, 低优先级

#177 feat: 更新公共DNS
  src/posts/develop/Public DNS DOH.md
Labels: 文章

#178 friend: add 233355607
  src/other/friends.md
Labels: 文章

#190 remove: 移除管理面板 暂不合并
  package-lock.json
  package.json
  src/other/friends.md
Labels: 等待处理

#192 feat: 添加部署到仓库
  .github/workflows/build-github.yml
Labels: 等待处理

#195 关闭 #171 faet: 为康威生命游戏和蓝顿蚂蚁添加了美化格子的css
  src/.vuepress/components/GameofLife.vue
  src/.vuepress/components/Langtonsant.vue
Labels: 等待处理

#196 friend: 添加米露
  src/other/friends.md
Labels: 等待合并

#197 docs: 新增 博客目前的架构
  src/README.md
  src/posts/daily/Gitlab Pollution.md
  src/posts/develop/Blog Architecture.md
Labels: 文章

#198 feat: 添加更新记录
  Dockerfile
  src/.vuepress/client.ts
  src/.vuepress/components/GitCommits.vue
  src/intro.md
Labels: 增强

#201 feat: 更新一下火神80HUB组件
  src/.vuepress/components/HuoShen80Hub.vue
Labels: 增强, 等待合并

#203 feat: 更多QoL 小补丁
  package-lock.json
  package.json
  src/.vuepress/client.ts
  src/.vuepress/components/Connectivity.vue
  src/.vuepress/components/MinecarftMod.vue
  src/.vuepress/components/Wordle.vue
  src/.vuepress/components/wordleLogic.js
  src/.vuepress/navbar.ts
  src/.vuepress/theme.ts
  src/Game/wordle.md
  src/tools/ipcheck.md
  src/tools/mcmod.md
Labels: 等待处理
